:root {
  --font-color: black;
  --primary-color: #B71C1C;
  --bg-color: #ffffff;
  --bg-shade: #ECEFF1;
  /*******static variables*****/
  --dark-red: #7f0000;
  --bright-red: #f05545;
  --dark-background: #121212;
  --thin-material-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --medium-material-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --thick-material-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

[data-theme="dark"] {
  --primary-color: #B71C1C;
  --font-color: #E8F8F9;
  --bg-color: #121212;
  --bg-shade: #1d1d1d;
}

[data-theme="light"] {
  --font-color: black;
  --primary-color: #B71C1C;
  --bg-color: #ffffff;
  --bg-shade: #ECEFF1;
}

body {
  height: 100%;
  margin: 0;
  font-size: 150%;
  background: var(--bg-color);
}

body * {
  font-family: 'Roboto', 'Monserrat', sans-serif;
  font-weight: 300;
  color: var(--font-color, black);
}

::-moz-selection {
  background: var(--bright-red);
}

::selection {
  background: var(--bright-red);
}

a:link {
  color: var(--font-color);
}

a:visited {
  color: var(--font-color);
}

a:active {
  color: var(--primary-color);
}

/*containers*/
.wrapper {
  /*for some reason this fixes the scroll overflow of animations on some mobile devices when overflow hidden doesn't want to work on the main body element*/
  position: absolute;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.tinyWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  height: 0.5em;
}

.statsCont {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding-top: 0.2em;
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  margin: 0.2em 1em 0.2em 1em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
}

table {
  width: 100%;
}

td {
  font-size: 0.8em;
  text-align: center;
}

.mainBtnCont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60vmin;
  max-height: 80vmax;
  max-width: 80vmax;
  width: 60vmin;
}

/*toast messages*/
.toastAnker {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  bottom: 0px;
  position: fixed;
  z-index: -1;
  display: flex;
  flex-flow: nowrap column-reverse;
  align-items: center;
}

@keyframes toastAnim {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

.toast {
  will-change: transform;
  -webkit-animation: 0.2s ease-in-out toastAnim;
  -moz-animation: 0.2s ease-in-out toastAnim;
  -o-animation: 0.2s ease-in-out toastAnim;
  animation: 0.2s ease-in-out toastAnim;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: relative;
  width: auto;
  text-align: center;
  padding: 0.5em 0em 0.5em 0em;
  margin: 0.2em;
  max-height: 4em;
  bottom: 1em;
  opacity: 1;
}

.toast.hide {
  -webkit-transition: all 0.2s ease-in 0.3s, height 0.2s ease-in 0.5s;
  -moz-transition: all 0.2s ease-in 0.3s, height 0.2s ease-in 0.5s;
  -o-transition: all 0.2s ease-in 0.3s, height 0.2s ease-in 0.5s;
  transition: all 0.2s ease-in 0.3s, height 0.2s ease-in 0.5s;
  /**-webkit-transition-property: opacity, max-height, bottom;
  -moz-transition-property: opacity, max-height, bottom;
  -o-transition-property: opacity, max-height, bottom;
  transition-property: opacity, max-height, bottom;
  opacity: 0;
  max-height: 0px;
  bottom: 2.4em;**/
  transform: translateX(-100%);
}

/*the user name box*/
.nameInput {
  border: 0.1em solid transparent;
  font-size: 1.5em;
  height: 1em;
  text-align: center;
  padding: 0.2em;
  letter-spacing: 0.1em;
  background: var(--bg-shade);
  box-shadow: var(--medium-material-shadow);
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.nameInput:focus {
  outline: 0;
  letter-spacing: 0.2em;
  box-shadow: var(--thin-material-shadow);
}

.nameInput:invalid {
  border: 0.1em solid var(--primary-color);
}

#commentButton {
  position: absolute;
  display: block;
  right: 0;
  align-self: center;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 1.5em;
  padding-top: 0.25em;
  padding-right: 0.5em;
  text-align: center;
  align-content: center;
}

.commentInput {
  font-size: 1em;
  box-sizing: border-box;
  height: 5em;
  resize: none;
  width: 100%;
}

.commentInput.hide {
  font-size: 0;
  height: 0;
}

.commentInput:focus {
  /*keep the letter spacing as it was*/
  letter-spacing: 0.1em;
}

#stats {
  text-decoration: none;
}

/*the fancy underline animations*/
.hoverline {
  position: relative;
  height: 100%;
}

.hoverline:before, .hoverline:after, .toast:after {
  content: "";
  position: absolute;
  opacity: 0.2;
  will-change: opacity, transform;
  background-color: var(--primary-color);
  height: 0.2em;
  left: 0;
  width: 100%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  transform: scaleX(0);
}

@keyframes toastUnderlineAnim {
  0% {
    opacity: 0.2;
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.toast:after {
  -webkit-animation: 0.5s ease-in-out toastUnderlineAnim;
  -moz-animation: 0.5s ease-in-out toastUnderlineAnim;
  -o-animation: 0.5s ease-in-out toastUnderlineAnim;
  animation: 0.5s ease-in-out toastUnderlineAnim;
  bottom: 0;
  opacity: 1;
  transform: scaleX(1);
}

.toast.hide:after, .hoverline:after {
  transform-origin: 100% 50%;
  transform: scaleX(0);
}

.hoverline:after {
  bottom: 0;
}

.hoverline:focus-within:before, .hoverline:focus-within:after {
  transform: scaleX(1);
  opacity: 1;
}

@media (hover: hover) {
  .hoverline:hover:before, .hoverline:hover:after {
    opacity: 0.5;
    transform: scaleX(1);
  }

  #commentButton.hide:hover {
    transform: scale(1.2);
  }

  .bigButton:hover {
    box-shadow: var(--thick-material-shadow);
    transform: scale(1.02);
  }

  .nameInput:hover {
    box-shadow: var(--thick-material-shadow);
  }

  #githubButton:hover, #adjustButton:hover {
    width: 1.7em;
  }
}

.hoverline {
  position: relative;
}

.hoverline.hide:before, .hoverline.hide:after {
  transform: scaleX(0);
}

/*big button stuff*/
@keyframes buttonStart {
  0% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.bigButton {
  -webkit-animation: 0.5s ease buttonStart;
  -moz-animation: 0.5s ease buttonStart;
  -o-animation: 0.5s ease buttonStart;
  animation: 0.5s ease buttonStart;
  padding: 0;
  font-size: 7vmin;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform, box-shadow;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #B71C1C;
  background-image: -moz-linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  background-image: -o-linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  background-image: -webkit-linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  background-image: linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  color: white;
  touch-action: manipulation;
  box-shadow: var(--medium-material-shadow);
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.bigButton:focus {
  box-shadow: var(--thick-material-shadow);
  transform: scale(1.02);
}

.bigButton:active {
  box-shadow: var(--thin-material-shadow);
  transform: scale(0.98);
}

.elmo {
  background-image: url('/images/elmo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.teemo {
  background-image: url('/images/teemo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@keyframes popupAnim {
  0% {
    font-size: 2em;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    font-size: 5em;
  }

  85% {
    font-size: 4em;
    opacity: 1;
  }

  100% {
    font-size: 3em;
    opacity: 0;
  }
}

#popupAnker {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.popup {
  -webkit-animation: 5s ease popupAnim;
  -moz-animation: 5s ease popupAnim;
  -o-animation: 5s ease popupAnim;
  animation: 5s ease popupAnim;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: var(--medium-material-shadow);
  font-size: 4em;
  opacity: 0;
  color: var(--primary-color);
}

.ring:before, .ring:after, .ringStart:after, .ringStart:before {
  will-change: transform;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.2em solid var(--primary-color, red);
  left: -0.1em;
  top: -0.1em;
  opacity: 1;
  transform: scale(0.8);
  z-index: -1;
}

@keyframes ringAnim {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.ring:before {
  opacity: 0;
  -webkit-animation: 0.7s ease-out 0s 1 ringAnim;
  -moz-animation: 0.7s ease-out 0s 1 ringAnim;
  -o-animation: 0.7s ease-out 0s 1 ringAnim;
  animation: 0.7s ease-out 0s 1 ringAnim;
}

.ring:after {
  opacity: 0;
  -webkit-animation: 0.7s ease-out 0.1s 1 ringAnim;
  -moz-animation: 0.7s ease-out 0.1s 1 ringAnim;
  -o-animation: 0.7s ease-out 0.1s 1 ringAnim;
  animation: 0.7s ease-out 0.1s 1 ringAnim;
}

.ring:after, .ringStart:after {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

@keyframes ringStartAnim {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.ringStart:before {
  opacity: 0;
  -webkit-animation: 1.5s ease-out 0s 1 ringStartAnim;
  -moz-animation: 1.5s ease-out 0s 1 ringStartAnim;
  -o-animation: 1.5s ease-out 0s 1 ringStartAnim;
  animation: 1.5s ease-out 0s 1 ringStartAnim;
}

.ringStart:after {
  opacity: 0;
  -webkit-animation: 0.5s ease-out 0.2s 1 ringStartAnim;
  -moz-animation: 0.5s ease-out 0.2s 1 ringStartAnim;
  -o-animation: 0.5s ease-out 0.2s 1 ringStartAnim;
  animation: 0.5s ease-out 0.2s 1 ringStartAnim;
}

#githubButton, #adjustButton {
  position: fixed;
  left: 0.5em;
  bottom: 0.5em;
  width: 1.5em;
  height: auto;
  background: transparent;
  border: none !important;
  outline: none;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

#adjustButton {
  left: auto;
  right: 0.5em;
}

#githubButton:active, #adjustButton:active {
  width: 1.3em;
}

@keyframes ringAnimDesktop {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@media(min-width: 1000px) {
  .statsCont {
    padding-left: 10vmin;
    padding-right: 10vmin;
    padding-top: 2vmin;
    justify-content: space-around;
  }

  .mainBtnCont {
    height: 40vmin;
    max-height: 60vmax;
    max-width: 60vmax;
    width: 40vmin;
  }

  .bigButton {
    font-size: 4vmin;
  }

  .ring:before {
    opacity: 0;
    -webkit-animation: 0.7s ease-out 0s 1 ringAnimDesktop;
    -moz-animation: 0.7s ease-out 0s 1 ringAnimDesktop;
    -o-animation: 0.7s ease-out 0s 1 ringAnimDesktop;
    animation: 0.7s ease-out 0s 1 ringAnimDesktop;
  }

  .ring:after {
    opacity: 0;
    -webkit-animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
    -moz-animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
    -o-animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
    animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 100%;
  }
}

@media(max-width: 350px) {
  body {
    font-size: 75%;
  }
}

/* customizable snowflake styling */
.snowflakes {
  display: block !important;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

/*copy pasta snowflakes*/
@-webkit-keyframes snowflakes-shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {

  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 20;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s
}

/***effects****/
@keyframes colorchange {
  0% {
    color: violet;
  }

  14.5% {
    color: indigo;
  }

  29% {
    color: blue;
  }

  43% {
    color: green;
  }

  56% {
    color: yellow;
  }

  70% {
    color: orange;
  }

  85% {
    color: red;
  }

  100% {
    color: violet;
  }
}

@keyframes bcolorchange {
  0% {
    background-color: red;
  }

  14.5% {
    background-color: violet;
  }

  29% {
    background-color: indigo;
  }

  43% {
    background-color: blue;
  }

  56% {
    background-color: green;
  }

  70% {
    background-color: yellow;
  }

  85% {
    background-color: orange;
  }

  100% {
    background-color: red;
  }
}

.bigButton.rainbow {
  background-image: none;
  -webkit-animation: 5s linear bcolorchange infinite;
  -moz-animation: 5s linear bcolorchange infinite;
  -o-animation: 5s linear bcolorchange infinite;
  animation: 5s linear bcolorchange infinite;
}

.big {
  font-size: 200%;
}

.small {
  font-size: 50%;
}

/** underline effect types **/
.toast.dashed:after {
  height: 0em;
  background-color: transparent !important;
  border-bottom: 0.2em dashed var(--primary-color);
}

.toast.dotted:after {
  height: 0em;
  background-color: transparent !important;
  border-bottom: 0.2em dotted var(--primary-color);
}

/**** colors ****/
/** toast **/
.toast.blue:after {
  background-color: blue;
  border-bottom-color: blue;
}

.toast.green:after {
  background-color: green;
  border-bottom-color: green;
}

.toast.yellow:after {
  background-color: yellow;
  border-bottom-color: yellow;
}

.toast.purple:after {
  background-color: purple;
  border-bottom-color: purple;
}

.toast.black:after {
  background-color: black;
  border-bottom-color: black;
}

.toast.white:after {
  background-color: white;
  border-bottom-color: white;
}

/*****random insults**/
@keyframes shadowAnim {
  50% {
    text-shadow:
      #7f0000 1px 1px,
      #7f0000 2px 2px,
      #7f0000 3px 3px,
      #7f0000 4px 4px,
      #7f0000 5px 5px,
      #7f0000 6px 6px,
      #7f0000 7px 7px,
      #7f0000 8px 8px,
      #7f0000 9px 9px,
      #7f0000 10px 10px,
      #7f0000 11px 11px,
      #7f0000 12px 12px,
      #7f0000 13px 13px,
      #7f0000 14px 14px,
      #7f0000 15px 15px;
  }

  0% {
    text-shadow:
      #7f0000 1px 1px,
      #7f0000 2px 2px,
      #7f0000 3px 3px,
      #7f0000 4px 4px;
  }

  100% {
    text-shadow:
      #7f0000 1px 1px,
      #7f0000 2px 2px,
      #7f0000 3px 3px,
      #7f0000 4px 4px;
  }
}

.fu {
  -webkit-animation: shadowAnim 0.25s ease-in-out infinite;
  -moz-animation: : shadowAnim 0.25s ease-in-out infinite;
  -o-animation: shadowAnim 0.25s ease-in-out infinite;
  animation: shadowAnim 0.25s ease-in-out infinite;
  position: static;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  top: 5%;
  left: 50%;
  font-size: 6em;
  transform: translateX(-50%);
  font-family: 'Helvetica Neue', serif;
}

.einstein {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 20vmin;
  height: 20vmin;
  transform-origin: center;
  background: url('/images/einstein.svg') no-repeat top left;
  -webkit-animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
  -moz-animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
  -o-animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
  animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
}

@keyframes scalespinIn {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  15% {
    transform: rotate(0deg) scale(1.1);
  }

  25% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scalespinOut {
  0% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(0deg) scale(1);
  }

  75% {
    transform: rotate(0deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*******more copypasta****/
.pyro>.before, .pyro>.after {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 15%;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
