:root {
  --font-color: black;
  --primary-color: #B71C1C;
  --bg-color: #ffffff;
  --bg-shade: #ECEFF1;
  /*******static variables*****/
  --dark-red: #7f0000;
  --bright-red: #f05545;
  --thin-material-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --medium-material-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --thick-material-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media(prefers-color-scheme:dark) {
  :root {
    --font-color: #E8F8F9;
    --primary-color: #B71C1C;
    --bg-color: #121212;
    --bg-shade: #1d1d1d;
  }
}

[data-theme="dark"] {
  --font-color: #E8F8F9;
  --primary-color: #B71C1C;
  --bg-color: #121212;
  --bg-shade: #1d1d1d;
}

[data-theme="dark"] .formula {
  filter: invert();
}

[data-theme="light"] {
  --font-color: black;
  --primary-color: #B71C1C;
  --bg-color: #ffffff;
  --bg-shade: #ECEFF1;
}

body {
  height: 100%;
  margin: 0;
  font-size: 150%;
  background: var(--bg-color);
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

body * {
  font-family: 'Roboto', 'Monserrat', sans-serif;
  font-weight: 300;
  color: var(--font-color, black);
}

::-moz-selection {
  background: var(--bright-red);
}

::selection {
  background: var(--bright-red);
}

a:link {
  color: var(--font-color);
}

a:visited {
  color: var(--font-color);
}

a:active {
  color: var(--primary-color);
}

/*containers*/
.wrapper {
  /*for some reason this fixes the scroll overflow of animations on some mobile devices when overflow hidden doesn't want to work on the main body element*/
  position: absolute;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.tinyWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  margin-top: 0.5em;
}

.statsCont {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding-top: 0.4em;
  font-size: 1.2em;
}

table {
  width: 100%;
}

td {
  text-align: center;
  font-size: 0.9em;
}

.mainBtnCont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60vmin;
  max-height: 80vmax;
  max-width: 80vmax;
  width: 60vmin;
}

/*toast messages*/
.toastAnker {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  bottom: 0px;
  position: fixed;
  z-index: -1;
  display: flex;
  flex-flow: nowrap column-reverse;
  align-items: center;
}

.toast {
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0.2rem;
  max-height: 4em;
  bottom: 1em;
  /*top: 1em;*/
  position: relative;
  display: inherit;
  width: auto;
  -webkit-animation: 0.2s ease-in-out toastAnim;
  -moz-animation: 0.2s ease-in-out toastAnim;
  -o-animation: 0.2s ease-in-out toastAnim;
  animation: 0.2s ease-in-out toastAnim;
}

@keyframes toastAnim {
  0% {
    padding: 0;
    margin: 0;
    opacity: 0;
    bottom: -2.4em;
    /*top: -2.4em;*/
    max-height: 0em;
  }

  100% {
    padding: 0.5rem 0 0.5rem 0;
    margin: 0.2rem;
    opacity: 1;
    max-height: 4em;
    bottom: 1em;
    /*top: 1em;*/
  }
}

/*the small counter next to toasts*/
.clickCounter {
  position: absolute;
  border-radius: 2em;
  min-width: 1em;
  display: none;
  color: white;
  padding: 0.2em 0.3em 0.2em 0.2em;
  background-color: var(--primary-color);
  top: 0.3em;
}

/*the user name box*/
.nameInput {
  border: 0.1em solid transparent;
  border-radius: 0.2em;
  font-size: 1.5em;
  height: 1em;
  text-align: center;
  padding: 0.2em;
  letter-spacing: 0.1em;
  background: var(--bg-shade);
  box-shadow: var(--medium-material-shadow);
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.nameInput:focus {
  outline: 0;
  letter-spacing: 0.2em;
  box-shadow: var(--thin-material-shadow);
}

.nameInput:invalid {
  border: 0.1em solid var(--primary-color);
}

#commentButton {
  position: absolute;
  display: block;
  right: 0;
  align-self: center;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding-top: 0.25em;
  padding-right: 0.75em;
  padding-left: 0.5em;
  text-align: center;
  align-content: center;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.7rem;
}

.commentInput {
  font-size: 1em;
  box-sizing: border-box;
  height: 5em;
  resize: none;
  width: 100%;
}

.commentInput.hide {
  font-size: 0;
  height: 0;
}

#stats {
  text-decoration: none;
}

/*the fancy underline animations*/
.hoverline {
  position: relative;
  height: 100%;
}

.hoverline:before,
.hoverline:after,
.toast:after {
  content: "";
  position: absolute;
  opacity: 0.2;
  will-change: opacity, transform;
  background-color: var(--primary-color);
  height: 0.2em;
  left: 0;
  width: 100%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-property: opacity, transform;
  -moz-transition-property: opacity, transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  transform: scaleX(0);
}

@keyframes toastUnderlineAnim {
  0% {
    opacity: 0.2;
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes toastUnderlineAnimHighlight {
  0% {
    opacity: 0.2;
    height: 0.2em;
    transform: scaleX(0);
  }

  50% {
    opacity: 1;
    height: 0.2em;
    transform: scaleX(1);
  }

  100% {
    height: 100%;
  }
}

.toast:after {
  -webkit-animation: 0.5s ease-in-out toastUnderlineAnim;
  -moz-animation: 0.5s ease-in-out toastUnderlineAnim;
  -o-animation: 0.5s ease-in-out toastUnderlineAnim;
  animation: 0.5s ease-in-out toastUnderlineAnim;
  bottom: 0;
  opacity: 1;
  transform: scaleX(1);
}

.toast.hide:after,
.hoverline:after {
  transform-origin: 100% 50%;
  transform: scaleX(0);
}

.hoverline:after {
  bottom: 0;
}

@media (hover: hover) {

  .hoverline:hover:before,
  .hoverline:hover:after {
    opacity: 0.5;
    transform: scaleX(1);
  }

  #commentButton:hover {
    transform: scale(1.2);
  }

  .bigButton:hover {
    box-shadow: var(--thick-material-shadow);
    transform: scale(1.02);
  }

  .nameInput:hover {
    box-shadow: var(--thick-material-shadow);
  }

  .iconButton:hover {
    transform: scale(1.15);
  }
}

.hoverline:focus-within:before,
.hoverline:focus-within:after {
  opacity: 1;
  transform: scaleX(1);
}

.hoverline {
  position: relative;
}

.hoverline.hide:before,
.hoverline.hide:after {
  transform: scaleX(0);
}

/*big button stuff*/
@keyframes buttonStart {
  0% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.bigButton {
  -webkit-animation: 0.5s ease buttonStart 0.2s;
  -moz-animation: 0.5s ease buttonStart 0.2s;
  -o-animation: 0.5s ease buttonStart 0.2s;
  animation: 0.5s ease buttonStart 0.2s;
  padding: 0;
  font-size: 7vmin;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform, box-shadow;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #B71C1C;
  background-image: -moz-linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  background-image: -o-linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  background-image: -webkit-linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  background-image: linear-gradient(-45deg, var(--dark-red), var(--primary-color));
  color: white;
  touch-action: manipulation;
  box-shadow: var(--medium-material-shadow);
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bigButton:focus {
  box-shadow: var(--thick-material-shadow);
  transform: scale(1.02);
}

.bigButton:active {
  box-shadow: var(--thin-material-shadow);
  transform: scale(0.98);
}

.elmo {
  background-image: url('/images/elmo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.teemo {
  background-image: url('/images/teemo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.fu-meme {
  background-image: url('/images/fu-meme.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@keyframes popupAnim {
  0% {
    font-size: 2em;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    font-size: 5em;
  }

  85% {
    font-size: 4em;
    opacity: 1;
  }

  100% {
    font-size: 3em;
    opacity: 0;
  }
}

#popupAnker {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.popup {
  -webkit-animation: 5s ease popupAnim;
  -moz-animation: 5s ease popupAnim;
  -o-animation: 5s ease popupAnim;
  animation: 5s ease popupAnim;
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: var(--medium-material-shadow);
  font-size: 4em;
  opacity: 0;
  color: var(--primary-color);
}

#fps {
  position: fixed;
  top: 10%;
  right: 5%;
  color: var(--primary-color);
  font-size: 2em;
  font-weight: bold;
}

.ring:before,
.ring:after,
.ringStart:after,
.ringStart:before {
  will-change: transform;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.2em solid var(--primary-color, red);
  left: -0.2em;
  top: -0.2em;
  opacity: 1;
  transform: scale(0.8);
  z-index: -1;
}

@keyframes ringAnim {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.ring:before {
  opacity: 0;
  -webkit-animation: 0.7s ease-out 0s 1 ringAnim;
  -moz-animation: 0.7s ease-out 0s 1 ringAnim;
  -o-animation: 0.7s ease-out 0s 1 ringAnim;
  animation: 0.7s ease-out 0s 1 ringAnim;
}

.ring:after {
  opacity: 0;
  -webkit-animation: 0.7s ease-out 0.1s 1 ringAnim;
  -moz-animation: 0.7s ease-out 0.1s 1 ringAnim;
  -o-animation: 0.7s ease-out 0.1s 1 ringAnim;
  animation: 0.7s ease-out 0.1s 1 ringAnim;
}

.ring:after,
.ringStart:after {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}

@keyframes ringStartAnim {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.ringStart:before {
  opacity: 0;
  -webkit-animation: 1.5s ease-out 0.2s 1 ringStartAnim;
  -moz-animation: 1.5s ease-out 0.2s 1 ringStartAnim;
  -o-animation: 1.5s ease-out 0.2s 1 ringStartAnim;
  animation: 1.5s ease-out 0.2s 1 ringStartAnim;
}

.ringStart:after {
  opacity: 0;
  -webkit-animation: 0.5s ease-out 0.4s 1 ringStartAnim;
  -moz-animation: 0.5s ease-out 0.4s 1 ringStartAnim;
  -o-animation: 0.5s ease-out 0.4s 1 ringStartAnim;
  animation: 0.5s ease-out 0.4s 1 ringStartAnim;
}

.iconCont {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 0.5em;
  bottom: 0.5em;
}

.iconButtonWrapper {
  display: inline-flex;
  align-items: center;
}

.bigScreenVisibleText {
  display: none;
}

.iconButton {
  width: 2em;
  height: 2em;
  background: transparent;
  border: none !important;
  outline: none;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  cursor: pointer;
  padding: 0.3em;
  transform: scale(1);
}

.rightCont {
  left: auto;
  right: 0.5em;
  align-items: flex-end;
}

.iconButton:active {
  transform: scale(0.85);
}

@keyframes ringAnimDesktop {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@media(min-width: 1000px) and (orientation:landscape) {
  .bigScreenVisibleText {
    display: block;
  }
}

@media(min-width: 1000px) {
  .statsCont {
    padding-left: 10vmin;
    padding-right: 10vmin;
    padding-top: 2vmin;
    justify-content: space-around;
  }

  .mainBtnCont {
    height: 40vmin;
    max-height: 60vmax;
    max-width: 60vmax;
    width: 40vmin;
  }

  .bigButton {
    font-size: 4vmin;
  }

  .ring:before {
    opacity: 0;
    -webkit-animation: 0.7s ease-out 0s 1 ringAnimDesktop;
    -moz-animation: 0.7s ease-out 0s 1 ringAnimDesktop;
    -o-animation: 0.7s ease-out 0s 1 ringAnimDesktop;
    animation: 0.7s ease-out 0s 1 ringAnimDesktop;
  }

  .ring:after {
    opacity: 0;
    -webkit-animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
    -moz-animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
    -o-animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
    animation: 0.7s ease-out 0.1s 1 ringAnimDesktop;
  }
}

@media(max-width: 1000px) and (orientation:landscape) {
  body {
    font-size: 100%;
  }
}

@media(max-width: 500px) and (orientation:landscape) {
  body {
    font-size: 75%;
  }
}

@media(max-width: 500px) and (orientation:portrait) {
  body {
    font-size: 100%;
  }
}

@media(max-width: 350px) {
  body {
    font-size: 75%;
  }
}

/* customizable snowflake styling */
.snowflakes {
  display: block !important;
}

.snowflake {
  color: var(--font-color);
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

/*copy pasta snowflakes*/
@-webkit-keyframes snowflakes-shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {

  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 20;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s
}

/***effects****/
@keyframes bcolorchange {
  0% {
    background-color: red;
  }

  14.5% {
    background-color: violet;
  }

  29% {
    background-color: indigo;
  }

  43% {
    background-color: #00AFB5;
  }

  56% {
    background-color: #306B34;
  }

  70% {
    background-color: #F1D302;
  }

  85% {
    background-color: orange;
  }

  100% {
    background-color: red;
  }
}

.bigButton.rainbow {
  background-image: none;
  -webkit-animation: 5s linear bcolorchange infinite;
  -moz-animation: 5s linear bcolorchange infinite;
  -o-animation: 5s linear bcolorchange infinite;
  animation: 5s linear bcolorchange infinite;
}

.toast.small {
  transform: scale(0.5);
}

.toast.medium {
  transform: scale(0.75);
}

.toast.big {
  font-size: 200%;
  max-height: 10em;
}

.toast.highlight {
  color: white;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.toast.fire:after {
  background-image: url('/images/fire.gif');
  background-position: center;
  background-color: #ffffff00;
  height: 0.4em;
}

.clickCounter.fire {
  background-image: url('/images/fire.gif');
}

.toast.highlight:after {
  z-index: -1;
  border-radius: 0.5em;
  height: 100%;
  -webkit-animation: 1s ease-in-out toastUnderlineAnimHighlight;
  -moz-animation: 1s ease-in-out toastUnderlineAnimHighlight;
  -o-animation: 1s ease-in-out toastUnderlineAnimHighlight;
  animation: 1s ease-in-out toastUnderlineAnimHighlight;
}

.toast.fancy:after,
.clickCounter.fancy {
  animation: bcolorchange 10s ease infinite;
}

/** underline effect types **/
.toast.dashed:after {
  height: 0em;
  background-color: transparent !important;
  border-bottom: 0.2em dashed var(--primary-color);
}

.toast.dotted:after {
  height: 0em;
  background-color: transparent !important;
  border-bottom: 0.2em dotted var(--primary-color);
}

/**** colors ****/
/** toast **/
.toast.blue:after,
.clickCounter.blue {
  background-color: #00AFB5;
  border-bottom-color: #00AFB5;
}

.toast.green:after,
.clickCounter.green {
  background-color: #306B34;
  border-bottom-color: #306B34;
}

.toast.yellow:after,
.clickCounter.yellow {
  background-color: #F1D302;
  border-bottom-color: #F1D302;
}

.toast.purple:after,
.clickCounter.purple {
  background-color: #58355E;
  border-bottom-color: #58355E;
}

.toast.black:after,
.clickCounter.black {
  background-color: black;
  border-bottom-color: black;
}

.toast.white:after,
.clickCounter.white {
  background-color: white;
  border-bottom-color: white;
}

.clickCounter.yellow,
.clickCounter.white {
  color: black;
}

/*****random insults**/
@keyframes shadowAnim {
  50% {
    text-shadow:
      var(--primary-color) 1px 1px,
      var(--primary-color) 2px 2px,
      var(--primary-color) 3px 3px,
      var(--primary-color) 4px 4px,
      var(--primary-color) 5px 5px,
      var(--primary-color) 6px 6px,
      var(--primary-color) 7px 7px,
      var(--primary-color) 8px 8px,
      var(--primary-color) 9px 9px,
      var(--primary-color) 10px 10px,
      var(--primary-color) 11px 11px,
      var(--primary-color) 12px 12px,
      var(--primary-color) 13px 13px,
      var(--primary-color) 14px 14px,
      var(--primary-color) 15px 15px;
  }

  0% {
    text-shadow:
      var(--primary-color) 1px 1px,
      var(--primary-color) 2px 2px,
      var(--primary-color) 3px 3px,
      var(--primary-color) 4px 4px;
  }

  100% {
    text-shadow:
      var(--primary-color) 1px 1px,
      var(--primary-color) 2px 2px,
      var(--primary-color) 3px 3px,
      var(--primary-color) 4px 4px;
  }
}

.fu {
  -webkit-animation: shadowAnim 0.25s ease-in-out infinite;
  -moz-animation: shadowAnim 0.25s ease-in-out infinite;
  -o-animation: shadowAnim 0.25s ease-in-out infinite;
  animation: shadowAnim 0.25s ease-in-out infinite;
  position: static;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  top: 5%;
  left: 50%;
  font-size: 6em;
  transform: translateX(-50%);
  font-family: 'Helvetica Neue', serif;
}

.fireworks {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  padding: 0.2em;
  background-repeat: round;
  background-image: url('/images/fireworks.gif');
}

.formula, .belasto {
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.formula {
  width: 30vmin;
  height: 30vmin;
}

.sas {
  background-image: url('/images/sas.png');
}

.lemma {
  background-image: url('/images/lemma67.png');
    width: 80vmin;
}

.belasto {
  background-image: url('/images/belasto.png');
  width: 20vmin;
  height: 20vmin;
}

.einstein {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vmin;
  height: 20vmin;
  transform-origin: center;
  outline: none;
  background: url('/images/einstein.svg') no-repeat top left;
  -webkit-animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
  -moz-animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
  -o-animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
  animation: scalespinIn 1s linear, spin 1s linear 3 1s, scalespinOut 1s linear 4s;
}

@keyframes scalespinIn {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  15% {
    transform: rotate(0deg) scale(1.1);
  }

  25% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scalespinOut {
  0% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(0deg) scale(1);
  }

  75% {
    transform: rotate(0deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
