body {
  padding: 1em;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr {
  height: 2em;
  padding-top: 0.5em;
  border-bottom: 1px solid var(--dark-red, red);
}

tbody {
  max-height: 20em;
  min-height: 5em;
  overflow-y: auto;
}

th, td, tr, thead, tbody {
  display: block;
}

td, th {
  float: left;
  border: none;
  text-align: left;
}

td:nth-child(1),
th:nth-child(1) {
  width: 20%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 20%;
  float: left;
}

td:nth-child(3),
th:nth-child(3) {
  width: 40%;
  float: left;
}

/* some colors */
thead {
  background-color: var(--primary-color, red);
  color: white;
}

tr:hover {
  background-color: var(--bg-shade, grey);
}

.largeSpacer {
  height: 5em;
}

h2 {
  font-size: 0.5em;
  bottom: 1em;
  margin: 0.8em;
}

caption {
  display: table-caption;
  text-align: left;
  font-size: 150%;
  padding: 0.2em;
  font-weight: bold;
}
