body {
  padding: 1.5em;
}

@media(orientation:landscape) {
  body {
    padding-left: 10vmin;
    padding-right: 10vmin;
  }
}

caption {
  display: table-caption;
  text-align: left;
  font-size: 125%;
  padding: 0 0 0.25em 0.25em;
  font-weight: 500;
}

th,
td {
  border-left: none;
  border-right: none;
  padding: 0.5em;
  text-align: left;
}

h2 {
  font-size: 0.5em;
  bottom: 1em;
  margin: 0.8em;
  color: grey;
}

thead {
  background-color: var(--primary-color, red);
  color: white;
}

th {
  border: none;
}

.chartsCont {
  max-height: 25em;
  min-height: 5em;
  overflow-y: auto;
  margin-bottom: 2em;
}

.jsChartsCont {
  max-width: 90vmin;
}

table {
  max-height: 20em;
  min-height: 5em;
  overflow-y: auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--dark-red, red);
}

tr:hover {
  background-color: var(--bg-shade, grey);
  border-bottom: 1px dashed var(--dark-red, red);
}

.largeSpacer {
  height: 5em;
}
